body {
    margin: 0;
    padding: 0;
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

input {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

.student-card {
    background: #1e293b;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
}

.actions {
    margin-top: 10px;
}

.actions button {
    margin-right: 10px;
}